h1{
    text-align: center;
    color:red;
}
#one{
    height: 300px;
    color:red;
    background-color: green;
}
.do{
    margin-right: 125px;
    color:white;
    text-decoration: none;
}
header{
    height:60px;
    background-color: black;
}
#two{

    height:100px;
    background-color:aqua;
}
#green{
display: inline-block;
line-height: 100px;
    height:100px;
    width:100px;
    background-color:green;
    border-radius: 50%;
    text-align: center;
}
#red{
display: inline-block;
line-height: 100px;
    height:100px;
    width:100px;
    background-color:red;
    border-radius: 50%;
    text-align: center;
}
#yellow{
display:inline-block;
line-height: 100px;
    height:100px;
    width:100px;
    background-color:yellow;
    border-radius: 50%;
    text-align: center;
}
